body {
  padding-top: 5rem;
  font-family: "Bodoni MT"
}
body {
  background-image: url(https://img.freepik.com/free-photo/white-concrete-wall-background_1249-263.jpg?size=338&ext=jpg);
}

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.carousel {
  width:640px;
  height:360px;
}
.navbar-brand {
font-family: 'Sofia'!important;font-size: 22px !important;

}
.nav-item {
  font-family: 'Sofia'!important;font-size: 22px !important;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
h1 {
  font-size: 75px;
}
h2, h3, h4 {
  font-weight: bold;
  font-size: 50px;
}

p {
  font-size: 35px;
  font-family: 'Sofia'
}
