body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.carousel {
  width:640px;
  height:360px;
}

.navbar-brand {
font-family: 'Sofia';
font-size: 22px;

}
